<header class='top-header'>
  <div class='header-content'>
    <div class='header-left'>
      <button class='mobile-menu-btn' onclick='toggleSidebar()'>☰</button>
      <a href='{{@site.url}}' class='logo'><img
          src='{{asset "img/kirk.png"}}'
          alt='{{title}}'
        /></a>
      <ul>
        <li class='date-time-weather'>
          <span class='date-line'>{{date format='dddd, MMMM D, YYYY'}}</span>
          <span class='time-weather-line'><span id='current-time'></span>
            &bull;
            <a href='https://en.wikipedia.org/wiki/Maine'><span
                id='current-temp'
              ></span>
              <span id='current-condition'></span></a>
          </span>
        </li>
      </ul>
    </div>
    <div class='header-center'>
      <div class='search-bar'>
        <input
          type='text'
          class='search-input'
          placeholder='Search {{@site.title}}'
        />
        <span class='search-kbd'>
          <kbd>⌘</kbd>
          <kbd>K</kbd>
        </span>
      </div>
    </div>
    <div class='header-right'>
      {{#unless @member}}
        <a
          href='#/portal/signup'
          class='header-btn primary'
          data-portal='signup'
        ><svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'
            class='lucide lucide-sparkles-icon lucide-sparkles'
          ><path
              d='M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z'
            /><path d='M20 2v4' /><path d='M22 4h-4' /><circle
              cx='4'
              cy='20'
              r='2'
            /></svg>
          Subscribe</a>
        <a href='#/portal/signin' class='header-btn' data-portal='signin'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'
            class='lucide lucide-circle-user-icon lucide-circle-user'
          ><circle cx='12' cy='12' r='10' /><circle
              cx='12'
              cy='10'
              r='3'
            /><path
              d='M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662'
            /></svg>
          Member Login
        </a>
      {{else}}
        <a
          href='#/portal/account'
          class='header-btn'
          data-portal='account'
        >Account</a>
      {{/unless}}
    </div>
    <div class='header-extra'>
      <p>Your new content here!</p>
    </div>
  </div>
</header>