<header class='top-header'>
  <div class='header-content'>
    <div class='header-left'>
      <button class='mobile-menu-btn' onclick='toggleSidebar()'>☰</button>
      <a href='{{@site.url}}' class='logo'><img
          src='{{asset "img/kirk.png"}}'
          alt='{{title}}'
        /></a>
      <ul>
        <li class='date-time-weather'>
          <span class='date-line'>{{date format='dddd, MMMM D, YYYY'}}</span>
          <span class='time-weather-line'>
            <span id='current-time' data-current-time></span>
            &bull;
            <a href='https://en.wikipedia.org/wiki/Maine'>
              <span id='current-temp' data-weather></span>
              <span id='current-condition'></span>
            </a>
          </span>
        </li>
      </ul>
    </div>
    <div class='header-center'>
      <div class='search-bar' data-ghost-search>
        <input
          type='text'
          class='search-input'
          placeholder='Search {{@site.title}}'
        />
        <span class='search-kbd'>
          <kbd>⌘</kbd>
          <kbd>K</kbd>
        </span>
      </div>
    </div>
    <div class='header-extra'>
      {{#unless @member}}
        <a
          href='#/portal/signup'
          class='header-btn primary'
          data-portal='signup'
        >
          Subscribe
        </a>
        <a
          href='#/portal/signin'
          class='header-btn secondary'
          data-portal='signin'
        >
          Member Login

        </a>
      {{else}}
        <a
          href='#/portal/account'
          class='header-btn'
          data-portal='account'
        >Account</a>
      {{/unless}}
    </div>
    <div class='header-right'>
      <div
        class='theme-toggle-pill'
        id='dark-mode-toggle'
        role='radiogroup'
        aria-label='Theme selection'
      >
        <button
          class='theme-option'
          data-theme='light'
          role='radio'
          aria-checked='true'
          aria-label='Light mode'
          title='Light mode'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='18'
            height='18'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
          >
            <circle cx='12' cy='12' r='4'></circle>
            <path d='M12 2v2'></path>
            <path d='M12 20v2'></path>
            <path d='m4.93 4.93 1.41 1.41'></path>
            <path d='m17.66 17.66 1.41 1.41'></path>
            <path d='M2 12h2'></path>
            <path d='M20 12h2'></path>
            <path d='m6.34 17.66-1.41 1.41'></path>
            <path d='m19.07 4.93-1.41 1.41'></path>
          </svg>
        </button>
        <button
          class='theme-option'
          data-theme='dark'
          role='radio'
          aria-checked='false'
          aria-label='Dark mode'
          title='Dark mode'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='18'
            height='18'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
          >
            <path d='M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z'></path>
          </svg>
        </button>
        <div class='theme-slider' aria-hidden='true'></div>
      </div>
      <a href='{{@site.url}}'><img
          src='{{asset "img/rss-icon.png"}}'
          height='20"'
          width='20'
          alt='{{title}}'
        /></a>
    </div>
  </div>
</header>