<!DOCTYPE html>
<html lang="{{@site.locale}}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{meta_title}}</title>
		{{ghost_head}}
		<link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}">
		<link rel="stylesheet" href="https://use.typekit.net/unt3hxg.css">
	</head>
	<body class="{{body_class}}">
		{{> "layout/site-header"}}
		<div class="layout">
			{{> "layout/sidebar"}}
			<main class="main-content">
				{{{body}}}
			</main>
		</div>
		{{ghost_foot}}
		<script src="{{asset "built/script.js"}}"></script>
		<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
		{{> "utilities/livereload"}}
	</body>
</html>