{{!< default}}
{{#page}}
{{> "components/breadcrumb-nav"}}
<article class="post-container">
	<header class="post-header">
		<p>THIS IS THE PAGE.HBS</p>
		<h1 class="post-title">{{title}}</h1>
	</header>
	{{#if feature_image}}
	<figure class="post-feature-image">
		<img src="{{img_url feature_image size="xl"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
		{{#if feature_image_caption}}
		<figcaption>{{feature_image_caption}}</figcaption>
		{{/if}}
	</figure>
	{{/if}}
	<div class="post-content">
		{{content}}
	</div>
</article>
{{/page}}