<div class="archive-widget">
	<h3 class="widget-title">We {{>icons/heart}} Moving Pictures</h3>
	<div class="movie-list">
		<ul>
			<li><img src="{{asset "img/happy.jpg"}}" alt="{{title}}"></li>
			<li><img src="{{asset "img/miller.jpg"}}" alt="{{title}}"></li>
			<li><img src="{{asset "img/fanfour.jpg"}}" alt="{{title}}"></li>
			<li><img src="{{asset "img/yeard.jpg"}}" alt="{{title}}"></li>
			<li><img src="{{asset "img/happy.jpg"}}" alt="{{title}}"></li>
			<li><img src="{{asset "img/miller.jpg"}}" alt="{{title}}"></li>
			<li><img src="{{asset "img/fanfour.jpg"}}" alt="{{title}}"></li>
			<li><img src="{{asset "img/yeard.jpg"}}" alt="{{title}}"></li>
			<li><img src="{{asset "img/happy.jpg"}}" alt="{{title}}"></li>
			<li><img src="{{asset "img/miller.jpg"}}" alt="{{title}}"></li>
			<li><img src="{{asset "img/fanfour.jpg"}}" alt="{{title}}"></li>
			<li><img src="{{asset "img/yeard.jpg"}}" alt="{{title}}"></li>
		</ul>
	</div>
	<p class="small-link">there's more, <a href="/notes">check them out</a> at the note archive {{> "icons/arrow-right"}}</p>
</div>