<h3 class="widget-title">Latest Notes</h3>
<div class="notes-widget">
	{{#get "posts" include="authors,tags" filter="tag:[hash-note, hash-watched]" limit="8"}}
		{{#foreach posts}}
			<div class="notes-content">
				<div class="note-item">
					<h4 class="note-title sr-only"><a href="{{url}}">{{title}}</a></h4>
					<div class="note-body">
						{{content}}
					</div>
					<div class="note-meta">
						<div class="img-date">
							<img
							  srcset="{{img_url primary_author.profile_image size='xxs' format='webp'}} 50w,
									  {{img_url primary_author.profile_image size='xs' format='webp'}} 150w"
							  sizes="50px"
							  src="{{img_url primary_author.profile_image size='xxs' format='webp'}}"
							  alt="{{primary_author.name}}"
							  width="50"
							  height="50"
							  loading="lazy"
							  class="author-avatar">
							<a href="{{url}}" aria-label="Read post from {{date published_at format="MMMM Do, YYYY"}}"><time datetime="{{date published_at format="YYYY-MM-DD"}}">
									{{date published_at timeago="true"}}
							</time> {{> "icons/arrow-right"}}</a>
						</div>
						{{> "components/share-dropdown"}}
					</div>
				</div>
			</div>
		{{/foreach}}
	{{/get}}
	<p class="small-link">{{> "icons/arrow-box"}} see all notes <a href="/notes">at the note archive</a></p>
</div>