<div class='post-body-flex'>
  <div class='post-meta-sidebar'>
    <a href='{{primary_author.url}}'>
      <img
        src='{{img_url primary_author.profile_image size='s'}}'
        alt='{{primary_author.name}}'
        class='author-avatar'
      />
    </a>
  </div>

  <!-- CONTENT - Takes up remaining space -->
  <div class='post-content-flex note-post'>
    <div class='post-tags'>
      <span class='post-topic'>{{#primary_tag}}<a
            href='{{url}}'
          >{{name}}</a>{{/primary_tag}}</span>
      <span class='post-item'>

		  <a href="{{url}}" aria-label="Read post from {{date published_at format="MMMM Do, YYYY"}}"><time class='post-date' datetime="{{date published_at format="YYYY-MM-DD"}}">
				  {{date published_at timeago="true"}}
		  </time> {{> "icons/arrow-right"}}</a>
      </span>
    </div>
    <h2 class='post-title'>
      <a href='{{url}}'>{{title}}</a>
    </h2>
    <div class='note-body'>
      {{content}}
    </div>
	<div class="post-footer-tags">
	  <span>{{tags limit="3"}}</span>
	</div>
  </div>

</div>